<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>562432388691-u5vld253ktt5lt7a4nkb0j6ou3r68ggn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562432388691-u5vld253ktt5lt7a4nkb0j6ou3r68ggn</string>
	<key>API_KEY</key>
	<string>AIzaSyD5yuQ1OBpVjW5kGtU4hBb78TxVPrPPJvw</string>
	<key>GCM_SENDER_ID</key>
	<string>562432388691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.farisarie.Weabo</string>
	<key>PROJECT_ID</key>
	<string>weebo-6c739</string>
	<key>STORAGE_BUCKET</key>
	<string>weebo-6c739.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562432388691:ios:53425ecbb456d6bceb60a6</string>
</dict>
</plist>